body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#slider-container {
    display: flex;
    align-items: center;
    margin: 20px;
    flex-direction: column;
}
#slider {
    margin-right: 10px;
}
#slider-value {
    font-size: 20px;
}
.img-slider img{
    object-fit: cover;
    max-width: 100%;
    border-radius: 15px;
    /* opacity: 0; */
    transition: opacity 0.5s ease;
}
.img-slider img.active {
    opacity: 1;
}
.btns{
    margin-top: 20px;
}
.btns button{
    max-width: 100%;
    width: 150px;
    background-color: #DF751E;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, font-size 0.2s ease;
    margin: 0 10px;
}

.btns button:hover {
    background-color: #C5651A;
    transform: scale(1.05);
    font-size: 1.1rem;
}